body {
  background-color: #e8d6cb;
  font-family: 'Lora', serif;
 
}

h1 {
  text-align: center;
  color: #3D4644;
  margin-bottom: 10px;
  

}

.bio-container {
  
  align-items: center;
  background-color:  #B7D2CD;
  color: #5C7373;
  
  border-radius: 8px;
  padding: 32px;
  margin: 32px;
  box-shadow:0 4px 16px -8px rgba(1, 1, 1, 0.2);

}



pre {
  color:rgb(69, 87, 87);
  text-align: right;
  margin-right: 32px;
  
}


.date-birth {
  text-align: center;
  color:#7A9999;
  margin-top: 0;

}

.description{
  text-align: justify;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 0;
  background-color:#e8d6cb;
  border-radius: 8px;
  color: #5C7373;

}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  box-shadow:0 4px 16px -8px rgba(1, 1, 1, 0.2);

  
}

.titulo-lista {
  text-align: center;
  font-weight: 600;
  color: rgb(69, 87, 87)
}

ul {
  margin: 32px;
  padding: 32px;
  text-align: center;

  
}

li {
  margin-bottom: 10px;
  list-style-type: none;
  font-weight: 400;
  color: #5C7373;
}

h3{
  text-align: center;
  color: #3D4644;
  margin-bottom: 10px;
  font-weight: 600;


}

footer{

  text-align: center;
  color: #3D4644;
  font-weight: 600;
  margin-bottom: 32px;
}

a{
  color: #ff5E84;
  text-decoration: none;
}